{% extends 'base.html' %}
{% block title %}
    {{ topic }}
{% endblock %}
{% block content %}
    <p>
        <h2>Topic: {{ topic.name }}</h2>
    </p>
    <p>
        Entries:
    </p>
    <p>
        <a href="{% url 'learning_logs:new_entry' topic.id %}">添加内容</a>
    </p>
    <ul>
        {% for entry in entries %}
            <li>
                <p>{{ entry.add_time|date:'M d, Y H:i' }}</p>
                <p>{{ entry.text|linebreaks }}</p>
                <P><a href="{% url 'learning_logs:edit_entry' entry.id %}">修改</a></P>
            </li>
        {% empty %}
            <li>还没添加</li>
        {% endfor %}
    </ul>
{% endblock %}